debugpy==1.6.0
detectron2==0.6+cu111
einops==0.4.1
fvcore==0.1.5.post20220212
iopath==0.1.9
matplotlib==3.3.4
numpy==1.20.1
opencv_python==4.5.5.62
pandas==1.2.4
Pillow==9.1.0
pycocotools==2.0.4
scikit_learn==1.0.2
timm==0.5.4
torch==1.10.2+cu113
torchvision==0.11.3+cu113
